@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
/* Russo One */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/* Permanent Marker */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    font-family: 'Barlow', sans-serif;
}
.titulo{
    grid-area: titulo;
}

.enlace{
    grid-area: enlace;
}
.contenido{
    /* https://developer.mozilla.org/es/docs/Web/CSS/CSS_Grid_Layout */
    display: grid;
    /* grid-template-columns: [first] 40px [col2] 200px [colcentro] auto [col4-start] 200px [five] 40px [end];
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line]; 100px 100px 100px 100px*/
    height: 25%;   
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
    grid-template-areas:
        ". . . ."
        ". titulo . ."
        ". . . ."
        ". . enlace .";

    /* prueba centrado */
        position: absolute; /*Can also be `fixed`*/
        left: 50px;
        right: 50px;
        top: 50px;
        bottom: 50px;
        margin: auto;
    /* fin prueba centrado */
        
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(133,52,255,1) 46%, rgba(255,255,255,1) 100%); 
}

.contenido{
    background-color: rgba(192, 133, 240, 0.163);
}

.enlace a{
    font-size: 24px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    /* margin-top: 150px; */
}
.gigia{
    font-family: 'Russo One', sans-serif;
  }
  .games{
    font-family: 'Permanent Marker', cursive;
  }
@media only screen and (max-width: 600px) {
    .contenido{
        height: 100vh;
    }
}